<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AurelienRibon.Ui.SyntaxHighlightBox" version="2.0.2" targetFramework="net472" />
  <package id="AvalonEdit" version="5.0.4" targetFramework="net472" />
  <package id="Crc32.NET" version="1.2.0" targetFramework="net472" />
  <package id="DotNet3dsSoundtrackConverter" version="1.1.4" targetFramework="net472" />
  <package id="DotNet3dsToolkit" version="1.5.1-v1-legacy.3" targetFramework="net472" />
  <package id="DotNetNdsToolkit" version="2.0.4" targetFramework="net472" />
  <package id="DS-ROM-Patcher" version="1.2.4" targetFramework="net472" />
  <package id="Extended.Wpf.Toolkit" version="3.4.0" targetFramework="net472" />
  <package id="ListViewDragDropManager" version="1.2.0" targetFramework="net472" />
  <package id="MediaToolkit" version="1.2.2-CI5" targetFramework="net472" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="net472" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="SkyEditor.CodeEditor" version="4.2.4" targetFramework="net472" />
  <package id="SkyEditor.CodeEditor.UI.WPF" version="4.2.4" targetFramework="net472" />
  <package id="SkyEditor.Core" version="4.2.10" targetFramework="net472" />
  <package id="SkyEditor.IO" version="5.0.8" targetFramework="net472" />
  <package id="SkyEditor.SaveEditor" version="4.2.1" targetFramework="net472" />
  <package id="SkyEditor.UI.WPF" version="4.2.4" targetFramework="net472" />
  <package id="SkyEditor.Utilities.AsyncFor" version="5.0.0" targetFramework="net472" />
  <package id="TagLib" version="2.1.7-Custom" targetFramework="net472" />
</packages>